@import 'tailwindcss';

@theme {
	--font-serif: 'Noto Serif JP', serif;
	--font-sans: 'Inter', sans-serif;

	--color-brass: #b59a57;
	--color-brass-light: #cbb374;
	--color-brass-dark: #9a7b3e;

	--color-bg-light: #ffffff;
	--color-bg-light-sub: #f8f9fa;
	--color-text-light: #111111;
	--color-text-light-sub: #767676;

	--color-bg-dark: #121212;
	--color-bg-dark-sub: #1e1e1e;
	--color-text-dark: #f5f5f5;
	--color-text-dark-sub: #444444;
}

body {
	font-family: var(--font-sans);
	letter-spacing: 0.08em;
	transition:
		background-color 0.3s,
		color 0.3s;
}

.font-serif {
	font-family: var(--font-serif);
}

/* 建築の図面を意識した、細いグレーのグリッド背景 */
.grid-bg-light {
	background-size: 40px 40px;
	background-image: linear-gradient(to right, #e0e0e0 1px, transparent 1px),
		linear-gradient(to bottom, #e0e0e0 1px, transparent 1px);
}

.grid-bg-dark {
	background-size: 40px 40px;
	background-image: linear-gradient(to right, #252525 1px, transparent 1px),
		linear-gradient(to bottom, #252525 1px, transparent 1px);
}

